<template name="header">
    <header class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapsee">
                    <span class="sr-only">
                        Toggle navigation
                    </span>
                    <span class="icon-bar">
                    </span>
                    <span class="icon-bar">
                    </span>
                    <span class="icon-bar">
                    </span>
                </button>
                <a class="navbar-brand" href="{{newPostsPath}}">Microscope</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="{{activeRouteClass 'home' 'newPosts'}}">
                        <a href="{{homePath}}">New</a>
                    </li>
                    <li class="{{activeRouteClass 'bestPosts'}}">
                        <a href="{{bestPostsPath}}">Best</a>
                    </li>
                    {{#if currentUser}}
                    <li>
                        <a href="{{postSubmitPath}}">Submit Post</a>
                    </li>
                    <li class="dropdown">
                        {{> notifications}}
                    </li>
                    {{/if}}
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {{loginButtons}}
                </ul>
            </div>
        </div>
    </header>
</template>